/* -------------------------------------------------------------------------
	FEUILLE CSS 
	Auteur : Loïc Barouty
	Date : 07/10/2013
	Version : 0.1
---------------------------------------------------------------------------- */
body {
	background-image: url("graphics/monde.jpg");
	background-position: 0px 0px;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.clear {
	
}

/* ------------------------------ HEADER ------------------------------------- */
header {
	background-color: rgba(40, 40, 40, 1);
	height: 100%;
	position: fixed;
	top: 0;
	width: 230px;
}

header #divLogo {
	padding: 24px 0px;
	text-align: center;
	width: 100%;
}

header #divLogo img {
	height: 70%;
	width: 70%;
}

/* ------------------------------ MENU ------------------------------------- */
.copyright{
	color:#FFF;
	font-family:arial;
	font-size:10px;
	text-align:center;
}

nav {
	border: 0px yellow solid;
	color: white;
	margin: 0;
	padding: 0px;
	font-variant:small-caps;
	z-index: 100;
}

nav ul {
	border: 0px red solid;
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none;
}

nav li a {
	color: white;
	text-decoration: none;
}
nav #mainmenu {
	margin: 0;
	padding: 0;
}
nav #mainmenu > li {
	line-height: 32px;
	margin: 0;
	text-align: center;
}

nav ul li .sousmenu {
	background-color: rgba(61, 61, 61, 1);
	border: 0px black solid;
	display: none;
	padding: 12px;
	text-align: center;
	width: 200px;

	position: absolute;
	left: 150px;
	top: -1px;
}
nav #mainmenu li:hover {
	background: rgba(48, 48, 48, 1);
}
nav #mainmenu li:hover .sousmenu {
	display: block;
}

/* ---------------------------------- CONTENT --------------------------- */
#wrapper {
	background-color: rgba(40, 40, 40, 1);
	color:#FFF;
	margin-left:270px;
	padding: 24px;
	width: 500px;
	position: absolute;
	top: 0px;
	z-index: 150;
}

/* ----------------------------------- FOOTER --------------------------- */
