/* -------------------------------------------------------------------------
	FEUILLE CSS 
	Auteur : Loïc Barouty
	Date : 07/10/2013
	Version : 0.1
---------------------------------------------------------------------------- */
body {
	background-image: url("graphics/back2.jpg");
	background-position: 0px 0px;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.clear {
	
}

/* ----------------------------------- POLICES --------------------------- */
@font-face {
	font-family: 'agency_fb';
    src: url('font/agency_fb.ttf');
}

/* ------------------------------ HEADER ------------------------------------- */
header {
	background-color: rgba(40, 40, 40, 1);
	height: 100%;
	position: fixed;
	top: 0;
	width: 230px;
}

header #divLogo {
	padding: 24px 0px;
	text-align: center;
	width: 100%;
}

header #divLogo img {
	height: 50%;
	width: 50%;
}

/* ------------------------------ MENU ------------------------------------- */
nav {
	border: 0px yellow solid;
	color: white;
	font-family: "agency_fb", arial ;
	margin: 0;
	padding: 0px;
	text-transform:uppercase;
	z-index: 100;
	font-family:
}

nav ul {
	border: 0px red solid;
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none;
}

nav li a {
	color: white;
	text-decoration: none;
}
nav #mainmenu {
	margin: 0;
	padding: 0;
}
nav #mainmenu > li {
	line-height: 32px;
	margin: 0;
	text-align: center;
}

nav ul li .sousmenu {
	background-color: rgba(61, 61, 61, 1);
	border: 0px black solid;
	display: none;
	padding: 12px;
	text-align: center;
	width: 200px;

	position: absolute;
	left: 210px;
	top: -1px;
}
nav #mainmenu li:hover {
	background: rgba(48, 48, 48, 1);
}
nav #mainmenu li:hover .sousmenu {
	display: block;
}

/* ---------------------------------- CONTENT --------------------------- */
#wrapper {
	background-color: rgba(40, 40, 40, 1);
	color:#FFF;
	margin-left:270px;
	padding: 24px;
	width: 500px;
	position: absolute;
	top: 0px;
	z-index: 150;
	font-family:arial;
	font-size:14px;
	line-height:20px;
}

/* ----------------------------------- FOOTER --------------------------- */
footer{
	position:fixed;
	bottom:0;
	left:0;
	text-align:center;
	width:230px;
	padding-bottom:5px;
}

.copyright{
	color:rgba(137, 137, 137, 1);
	font-family:arial;
	font-size:10px;
	line-height:5px;
	width:100%;	
}

.copyright a {
	color: rgba(137, 137, 137, 1);
}

.reseauxsociaux {
	width:100%;	
}




