/* -------------------------------------------------------------------------
	FEUILLE CSS 
	Auteur : Esther Wiest
	Auteur : Loïc Barouty 
	Auteur : Lucas Leroux
	Auteur : Mélanie Roy
	Auteur : Romain Ouvrard
	Auteur : Vasylyna Golovnya
	Date : 07/10/2013
	Version : 0.5
---------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------
                                 TOUT AFFICHAGE
 ------------------------------------------------------------------------------------------------------------------------------------------*/
 /* ----------------------------- GENERAL ----------------------------------- */
 body {
 	/* Fond d'écran du site web */
	background: url("graphics/bgV1.jpg") no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover;
	background-attachment: fixed;

	color: white;
	margin: 0;
	padding: 0;
	width: auto;
}

a:active {
 	background-color: inherit;
}

img {
	border:none;
}

/* ----------------------------------- POLICES --------------------------- */
/* Pour ajouter des polices d'éciture via le dossier font. */
@font-face {
	font-family: 'agency_fb';
	src: url('font/agencyr.eot?#iefix') format('embedded-opentype'),
	     url('font/agency_fb.ttf') format('truetype');
}

@font-face {
	font-family: 'WinterthurCondensed';
	src: url('font/WinterthurCondensed.ttf') format('truetype');
}


/* ------------------------------ H E A D E R ------------------------------------- */
/* Icone d'affichage du menu en mode mobile */
#blocNavigationPourMobileIn, #blocNavigationPourMobileOut {
	display: none;
}
header {
	border-right: 1px rgba(40, 40, 40, 1) solid;
 	height: 100%;
	padding-right: 4px;
	position: fixed;
 	text-align: center;
 	top: 0;
	width: 230px;
 	z-index: 10;
}

/* Block entourant le logo + le menu */
header > div {
	background-color: rgba(40, 40, 40, 0.95);
	height: 100%;
}

#divLogo {
	padding: 24px 0px;
	width: 100%;
}

#divLogo img {
	border : none;
	height: 75px;
	width: 115px;
}

/* ------------------------------ MENU ------------------------------------- */
#blocNavigationPourMobileIn, #blocNavigationPourMobileOut {
	display: none;
	margin : 8px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.boutonExpand {
	
	text-align: left;
}

.boutonExpand div {
	background-color: #303030;
	border: 0px black solid;
	border-radius: 4px;
	height: 22px;
	line-height:22px;
	padding: 8px;
	width: 20px;
}

.boutonExpand img {
	height: 22px;
	width: 20px;
}

#divNavContent {
	/*background-color: yellow;*/
	color: white;
 	font-family: "agency_fb", arial ;
	font-size:20px;
	text-transform:uppercase;
}
#divNavContent a {
	color: white;
 	text-decoration: none;
 	width: 100%;
}
#divNavContent > ul > ul > li:hover > a {
	color: #474747;
}

#divNavContent #monNav {
	border: 0px red solid;
	position: relative;
	top: 0;
}

nav {
 	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 200;
}

nav > ul {
	border: 0px red solid;
	width:230px;
}

nav a {
 	
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none;
}

nav > ul:first-child {
	border-top: 1px rgba(61, 61, 61, 1) solid;
}
nav > ul > li {
	border-bottom: 1px rgba(61, 61, 61, 1) solid;
}

nav > ul > li:hover {
	background-color: rgba(48, 48, 48, 1);
}

nav > ul > li a {
	line-height: 50px;
}

nav > ul > li > ul {
	display: none;
	margin: 0;
	padding: 0;
}

#divNavContent > nav > ul > li > ul > li:hover > a {
	color: rgba(137, 137, 137, 1);
}

/* ------------------------------ WRAPPER -------------------------------------*/
#imageAccueilMobile {
	display: none;
}
#wrapper {
	background-color: rgba(40, 40, 40, 0.9);
	color:#FFF;
	font-family:arial;
	font-size:12px;
	line-height:20px;
	padding: 50px;
	padding-top:120px;
	text-align:justify;
	z-index: 0;
}

h1 {
	font-family: "agency_fb", arial ;
	font-size:26px;
	font-weight:100;
	margin-bottom:30px;
	text-transform:uppercase;
}

h2 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:-10px;
	text-transform:uppercase;
}

#wrapper a {
	color:#FFF;
	text-decoration:underline;
}

#wrapper a:hover {
	color:#FFF;
	text-decoration:underline;
}

#wrapper li {
	list-style-type:disc;
}

#wrapper li.niveaudeux {
	line-height:0px;
}

.citation {
	font-style:italic;
	margin-top:0;
	text-align:right;
}

.blocleft {
	float:left;
	height:280px;
	width:210px;
}

.blocright {
	float:right;
	height:280px;
	width:240px;
}

.imagecontenu {
	float:left;
	margin-top:15px;
	margin-right:15px;
	margin-bottom:5px;
}

.chapitreActif {
	display: block;
}

.chapitreInactif {
	display: none;
}

.chapitreNav {
	border-top: 1px gray solid;	
	margin-top: 24px;
	padding-top: 12px;
	text-align: center;
}

.headerChapitre1 div {
	display : inline-block;
}

.headerChapitre1Synopsis {
	float: right;
}

.navGrise {
	color: gray;
}

.bouton-participer {
	text-align:center;
}

.bouton-twitter {
	margin-left:5%;
}

.bouton-facebook {
	margin-right:5%;
}

/* ------------------------------ FOOTER ------------------------------------- */
footer {
	bottom: 0;
	height: 75px;
	left: 0;
	padding-bottom: 5px;
	position: fixed;
	text-align: center;
	z-index: 30;
	
}

.copyright {
	color:rgba(137, 137, 137, 1);
	font-family: arial;
	font-size: 9px;
	line-height: 5px;
	width: 100%;	
}

.copyright a {
	color: rgba(137, 137, 137, 1);
}


.reseauxsociaux {
	width: 100%;	
}

.reseauxsociaux img  {
	border : none;
	height: 25px;
	padding-right: 10px;
	width: 25px;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------
                               AFFICHAGE > 840 PIXELS
 ------------------------------------------------------------------------------------------------------------------------------------------*/
 /* Style pour les affichages supérieur à 840 pixels de large. */
@media only screen and (min-width: 841px) { /* 839px */
	/* ------------------------------ HEADER ------------------------------------- */


	/* ------------------------------ MENU ------------------------------------- */
	/* ---------------------------------------- Style des items du menu principal*/
	nav > ul > li {
		position: relative;
	}

	nav > ul > li {
		line-height: 32px;
		margin: 0;
	}

	/* --------------------------------------------------- Style des sous-menus */
	nav > ul > li > ul {
		background-color: rgba(61, 61, 61, 1);
		padding: 12px;
		left: 210px;
		position: absolute;
		text-align: center;
		top: -20px;
		width: 200px;
		z-index: 20;	
	}
	nav > ul > li > ul:after {
		/* Réalisation du triangle à gauche d'un sous-menu */
		border-right: rgba(61, 61, 61, 1) solid 10px;
		border-top: rgba(255, 255, 255, 0) solid 10px;
		border-bottom: rgba(255, 255, 255, 0) solid 10px;
		content: "";
		display: block;
		height: 0;
		left: -9px;
		line-height: 0;
		position: absolute;
		top: 36px;
	}
	
	nav > ul > li:hover > ul {
		display: block;
		z-index: 22;
	}

	/* --------------------------------------- Style des items des sous-menus */
	

	/* ---------------------------------- CONTENT --------------------------- */
	#wrapper {
		min-height: 100%;
		margin-left: 270px;
		position: absolute;
		top: 0px;
		width: 450px;
	}
	
	.partage {
		overflow: hidden;
		padding-top: 40px;
		padding-left: 60px;
	}
	
	.partagewrapper, .partagetwitter, .partagefacebook {
		float: left;
		margin : 0px;
		padding: 0px;
		position: relative;
	}
	
	.partagewrapper {
		left: 50%;
	}
	
	.partagetwitter {
		right : 50%;
		width: 120px;
	}
	
	.partagefacebook {
		right: 50%;
		width: 120px;
	}
	

	/* ----------------------------------- FOOTER --------------------------- */
	footer{
		width: 230px;
	}
	
	.infobulle {
		padding-left: 40px;
	}
	
	a.infobulle span {
		display: none; /* On masque l'infobulle. */
	}
	
	a.infobulle:hover span {
		background-color: rgba(40, 40, 40, 1);
		border:1px #303030 solid;
		border-radius:1px;
		color:#FFF;
		display: inline; /* On affiche l'infobulle. */
		font-family:arial;
		font-size:11px;
		height: 40px;
		left: 124px;
		padding-top:10px;
		position: absolute;
		top: -55px;
		white-space: nowrap;
		width: 95px;		
	}
}

/* ----------------------------------------------------------------------------------------------------------------------------------------
                               AFFICHAGE < 840 PIXELS
 ------------------------------------------------------------------------------------------------------------------------------------------*/
  /* Style pour les affichages inférieur à 840 pixels de large. */
@media handheld, only screen and (max-device-width: 841px), only screen and (max-width: 841px) { /* 839px */
	/* --------------------------- BODY MOBILE ------------------------------------ */
	body {
		background-color: #282828;
		background-image: none;
		margin: 0 auto;
		width: 100%;
	}

	/* --------------------------- HEADER MOBILE ---------------------------------- */
	header {
		border: 0px blue solid;
		padding-right: 0px;
		position: relative;
		width: 100%;
	}

	header > div {
		background-color: rgba(40, 40, 40, 1);
		height: 100%;
	}

	#divLogo {
		border: 0px green solid;
		display: block;
		margin: 0;
		padding: 0px;
		padding-top: 12px;
		padding-bottom: 18px;
	}
	#divLogo img {
		height: 30%;
		margin: 0;
		padding: 0;
		width: 30%;
	}

	/* -------------------- BARRE D'AFFICHAGE DU MENU -------------------------- */
	#blocNavigationPourMobileIn {
		display: block;
	}
	#blocNavigationPourMobileIn a, #blocNavigationPourMobileOut a {
		color: white;
	}

	/* --------------------------- MENU MOBILE ---------------------------------- */
	nav {
		border: 0px red solid;
		display: none;
		position: relative;
		width: 100%;
	}

	/* ---------------------------------------- Style des items du menu principal*/
	nav > ul {
		position: relative;
		width: 100%;
	}
	nav > ul > li {
		line-height: 32px;
		margin: 0;
		width: 100%;
	}

	nav > ul > li > a {
		line-height: 20px;
	}

	/* --------------------------------------------------- Style des sous-menus */
	nav > ul > li:hover > ul {
		display:block;
	}
	nav > ul > li > ul {
		font-size: 16px;
	}
	nav > ul > li > ul > li > a {
		line-height: 20px;
	}
	/* ---------------------------------- CONTENT --------------------------- */
	#imageAccueilMobile {
		display: block;
		width: 100%;
	}
	#imageAccueilMobile img {
		width: 100%;
	}
	#wrapper {
		background-color: white;
		color: #282828;
		padding: 32px;
		position: relative;
	}
	
	#wrapper a {
		color:#282828;
	}
	
	#wrapper a:hover {
		color:#282828;
	}

	.blocleft {
		width:100%;
		height:auto;
		float:none;
	}

	.blocright {
		width:100%;
		height:auto;
		float:none;
		margin-bottom: 64px;
	}

	.imagecontenu {
		float:none;
		margin-top:15px;
		width: 100%;
		height:100%;
	}
	
	.partage {
		overflow: hidden;
		padding-top:40px;
		padding-bottom:20px;
		margin-left:auto;
   		margin-right:auto;
	}
	
	.partagewrapper {
		left: 50%;
	}
	
	.partagewrapper, .partagetwitter, .partagefacebook {
	float: left;
	margin : 0px;
	padding: 0px;
	position: relative;
	}
	
	.partagetwitter {
		width:100px;
		right: 50%;
	}
	
	.partagefacebook {
		width:100px;
		right: 50%;
	}
	
	/* ----------------------------------- FOOTER --------------------------- */
	footer {
		background-color: rgba(40, 40, 40, 1);
		border: 0px red solid;
		padding-top: 12px;
		position: relative;
		text-align: center;
	}
	
	.infobulle {
		padding-left:40px;
	}
	
	a.infobulle span {
		display: none; /* On masque l'infobulle. */
	}
	
	a.infobulle:hover span {
		background-color: rgba(48, 48, 48, 1);
		border-radius: 1px;
		color:#FFF;
		display: inline; /* On affiche l'infobulle. */
		font-family: arial;
		font-size: 11px;
		height: 40px;
		padding-top: 10px;
		position: absolute;
		white-space: nowrap;
		width: 95px;
	}
}
