/* -------------------------------------------------------------------------
	FEUILLE CSS 
	Auteur : Loïc Barouty
	Date : 07/10/2013
	Version : 0.1
---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------
                                 TOUT AFFICHAGE
 -----------------------------------------------------------------------------*/
 /* ----------------------------- GENERAL ----------------------------------- */
 body {
	background-image: url("graphics/back2.jpg");
	background-position: 0px 0px;
	background-attachment: fixed;
	color: white;
	margin: 0;
	padding: 0;
}

/* ----------------------------------- POLICES --------------------------- */
/* Pour ajouter des polices d'éciture via le dossier font. */
@font-face {
	font-family: 'agency_fb';
		src: url('font/agency_fb.ttf');
}

/* ------------------------------ HEADER ------------------------------------- */
 header {
 	text-align: center;
 }

header > div {
	background-color: rgba(40, 40, 40, 1);
	height: 100%;
}
 
/* ------------------------------ MENU ------------------------------------- */
 nav {
 	color: white;
 	font-family: "agency_fb", arial ;
	font-size: 18px;
	text-transform:uppercase;
 }

 nav a {
 	color: white;
 	text-decoration: none;
 	width: 100%;
 }

 nav > ul > li > ul {
 	margin: 0;
 	padding: 0;
 }
/* ------------------------------ FOOTER ------------------------------------- */
 .copyright a {
	color: rgba(137, 137, 137, 1);
}

/* ---------------------------------------------------------------------------
                               AFFICHAGE > 840 PIXELS
 -----------------------------------------------------------------------------*/
 /* Style pour les affichages supérieur à 840 pixels de large. */
@media screen and (min-width: 840px) {
	/* ------------------------------ HEADER ------------------------------------- */
	header {
		border-right: 1px rgba(40, 40, 40, 1) solid;
		height: 100%;
		padding-right: 4px;
		position: fixed;
		top: 0;
		width: 230px;
		z-index: 10;
	}

	header #divLogo {
		padding: 24px 0px;
		width: 100%;
	}

	header #divLogo img {
		height: 35%;
		width: 35%;
	}

	/* ------------------------------ MENU ------------------------------------- */
	nav {
		border: 0px yellow solid;
		margin: 0;
		/*margin-top:25%;*/ /* Momentanément enlever pour le responsive */
		padding: 0px;
		z-index: 200;
	}

	nav ul {
		border: 0px red solid;
		margin: 0;
		padding: 0;
	}

	nav > ul:first-child {
		border-top: 1px rgba(61, 61, 61, 1) solid;
	}
	nav > ul > li {
		border-bottom: 1px rgba(61, 61, 61, 1) solid;
	}
	nav > ul > li:hover {
		background-color: rgba(61, 61, 61, 1);
	}

	nav > ul > li a {
		line-height: 50px;
	}

	nav li {
		list-style-type: none;
	}

	nav #mainmenu {
		margin: 0;
		padding: 0;
	}
	nav #mainmenu > li {
		line-height: 32px;
		margin: 0;
	}

	nav ul li .sousmenu {
		background-color: rgba(61, 61, 61, 1);

		border-image-source: url("graphics/pique.png");
		border-width: 34px;
		-moz-border-image: url("graphics/pique.png") 34 / 34px  stretch;
		-webkit-border-image: url("graphics/pique.png") 34 / 34px  stretch;
		-o-border-image: url("graphics/pique.png") 34   stretch;
	 	border-image: url("graphics/pique.png") 34 / 34px   stretch;

		border: 0px black solid;
		display: none;
		padding: 12px;
		text-align: center;
		width: 200px;
		z-index: 20;

		position: absolute;
		left: 210px;
	}
	nav #mainmenu li:hover a:hover {
		color: rgba(137 ,137, 137, 1);
	}
	nav #mainmenu li:hover .sousmenu {
		display: block;
		z-index: 22;
	}

	/* ---------------------------------- CONTENT --------------------------- */
	#wrapper {
		background-color: rgba(40, 40, 40, 1);
		color:#FFF;
		margin-left:270px;
		padding: 50px;
		padding-top:120px;
		width: 450px;
		position: absolute;
		top: 0px;
		z-index: 0;
		font-family:arial;
		font-size:13px;
		line-height:20px;
		text-align:justify;
		min-height: 100%;
	}

	#titrepage{
		font-family: "agency_fb", arial ;
		text-transform:uppercase;
		font-size:26px;
		margin-bottom:30px;
	}

	/* ----------------------------------- FOOTER --------------------------- */
	footer{
		position:fixed;
		bottom:0;
		left:0;
		text-align:center;
		width:230px;
		padding-bottom:5px;
		z-index: 30;
	}

	.copyright{
		color:rgba(137, 137, 137, 1);
		font-family:arial;
		font-size:9px;
		line-height:5px;
		width:100%;	
	}

	.reseauxsociaux {
		width:100%;	
	}
}

/* ---------------------------------------------------------------------------
                               AFFICHAGE < 840 PIXELS
 -----------------------------------------------------------------------------*/
  /* Style pour les affichages inférieur à 840 pixels de large. */
@media screen and (max-width: 840px){
	header {
		border: 0px red solid;
		margin-bottom: 12px;
		position: relative;
		width: 100%;
	}
	header #divLogo {
		border: 0px yellow solid;
		margin: 0;
		padding: 0;
	}
	header #divLogo img {
		height: 10%;
		margin: 0;
		padding: 0;
		width: 10%;
	}
	nav {
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
	}

	nav #mainmenu {
		margin: 0;
		padding: 0;
	}

	nav > ul {
		width: 100%;
	}

	nav #mainmenu > li {
		
	}

	nav > ul:first-child {
		border-top: 1px rgba(61, 61, 61, 1) solid;
	}
	nav > ul > li {
		border-bottom: 1px rgba(61, 61, 61, 1) solid;
	}

	nav ul li {
		list-style-type: none;
		line-height: 32px;
		margin: 0;
		width: 100%;
	}

	nav > ul > li > ul {
		display: none;
	}
	nav > ul > li a:focus {
		color: yellow;
	}
	nav > ul > li:hover {
		background-color: rgba(61, 61, 61, 1);
	}

	nav > ul > li:hover > ul {
		/*display: block;*/
	}

	#wrapper {
		background-color: rgba(40, 40, 40, 1);
		padding: 8px;
		position: relative;
	}

	footer {
		background-color: rgba(40, 40, 40, 1);
		border: 0px red solid;
		margin-top: 12px;
		position: relative;
		text-align: center;
	}
}